<div>
  <div>
    <div id="search-container" style="display: flex; align-items: center; width: 100%;">
      <b>grep&gt;</b>&nbsp;
      <input type="text" id="search-input" placeholder="Cari judul artikel..." autocomplete="off" style="font-size:95%; flex-grow: 1;">
    </div>
    <div style="clear: both; padding-top: 5px;">
      <ul id="results-container"></ul>
    </div>
  </div>
</div>
