<aside class="sidebar noselect" id="sidebar-head">
{% if page.toc == false %}
    <div class="sidebar-body">
        <h1 style="font-size:1.5em;">Daftar Isi</h1>
        <p>Halaman ini tidak memiliki Daftar Isi.</p>
    </div>
{% elsif page.category == 'blog' and page.toc == true %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% elsif page.category == 'note' and page.toc == true %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% elsif page.category == 'python' and page.toc == true %}
    {% include _sidebar/book/python/sidebar_python_silabus.html %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% elsif page.category == 'python' and page.toc == nil %}
    {% include _sidebar/book/python/sidebar_python_silabus.html %}
{% elsif page.category == 'arch' and page.toc == true %}
    {% include _sidebar/book/arch/sidebar_arch_daftarisi.html %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% elsif page.category == 'arch' and page.toc == nil %}
    {% include _sidebar/book/arch/sidebar_arch_daftarisi.html %}
{% elsif page.permalink == '/blog/' %}
    {% include _sidebar/sidebar_blog.html %}
{% elsif page.permalink == '/note/' %}
    {% include _sidebar/sidebar_note.html %}
{% elsif page.permalink == '/lab/pacmaneveryday' %}
    {% include _sidebar/sidebar_pacmaneveryday.html %}
{% elsif page.permalink == '/log/' %}
    {% include _sidebar/sidebar_blog_features_update.html %}
{% elsif page.permalink == '/python/' %}
    {% include _sidebar/book/python/sidebar_python.html %}
{% elsif page.permalink == '/arch/' %}
    {% include _sidebar/book/arch/sidebar_arch.html %}
{% elsif page.permalink == '/groups/' %}
    {% include _sidebar/groups/sidebar_groups.html %}
{% elsif page.permalink == '/dotfriends/' %}
    {% include _sidebar/dotfriends/sidebar_dotfriends_list.html %}
{% elsif page.permalink == '/bantuan/' %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% elsif page.permalink == '/about/' %}
    {% include _sidebar/sidebar_blog.html %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% elsif page.permalink == '/contact/' %}
    {% include _sidebar/sidebar_blog.html %}
{% elsif page.permalink == '/category/' %}
    {% include _sidebar/sidebar_outdated.html %}
    {% include _sidebar/category/sidebar_category.html %}
{% elsif page.permalink == '/tags/' %}
    {% include _sidebar/sidebar_outdated.html %}
    {% include _sidebar/tags/sidebar_tags.html %}
{% elsif page.permalink == '/stat/' and page.toc == true %}
    {% include _sidebar/sidebar_toc_gem.html %}
{% endif %}
</aside>
