---
layout: baseof
permalink: :title
---

<section id="main">
  <div class="container noselect">
    <div class="container-edge-border">

      {% if site.newsline %}
        {% include newsline.html %}
      {% endif %}

      <article class="post">
        <div class="post-body">
          {% include search.html %}
        </div>
      </article>
    </div>
  </div><!-- container -->
</section><!-- main -->

<!-- Script pointing to search-script.js -->
<script src="/assets/js/search.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>

