---
layout: baseof
---

<section id="main">
  <div class="container">
    <div class="container-edge-border">

      {% if site.newsline %}
        {% include newsline.html %}
      {% endif %}

      <article class="post">
        <div class="post-body" style="margin-bottom:0;">
          <h1 class="post-title noselect">
            <a href="{{ page.url }}">{{ page.title }}</a>
          </h1>
        </div>
      </article>

      <article>
        <div class="post-body-sidebar" style="margin-top:0;">
          {% include sidebar_head.html %}
        </div>
      </article>

      <article class="post">
        <div class="post-body">
          <div class="markdown-body">
            {% include enlarge-image-modal.html %}
            <p>{{ content }}</p>
          </div>
        </div>
      </article>

      <article class="sidebar">
        <div class="post-body-sidebar">
          {% include sidebar_tail.html %}
        </div>
      </article>

    </div><!-- container-edge-border -->
  </div><!-- main container -->
</section><!-- main -->
