---
layout: baseof
---

<section id="main">
  <div class="container">
    <div class="container-edge-border">

      {% if site.newsline %}
        {% include newsline.html %}
      {% endif %}

      <article class="post-pre-title">
        <div class="post-body">
          {% if page.wip == true %}
            <h1 class="post-title"><a href="{{ page.url }}"><span class="wiptag_title">WIP:</span> {{ page.title }}</a></h1>
          {% else %}
            <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
          {% endif %}
          <label class="hideAside noselect" title="On/Off Sidebar" onclick="toggleShowHideSidebar()"><img style="width:20px;margin-top:5px;" src="/assets/img/logo/logo_menu.svg" alt=""></label>

          {% assign page_date = page.date | date: '%Y/%m/%d' %}
          {% assign page_last_modified_date = page.last_modified_date | date: '%Y/%m/%d' %}
          {% if page_date == page_last_modified_date %}
            <span class="post-details noselect">Ditulis: {{ page_date }}</span>
          {% else %}
            <span class="post-details noselect">Ditulis: {{ page_date }}</span> <span class="post-details noselect">Diperbaharui: {{ page_last_modified_date }}</span>
          {% endif %}

          {% include breadcrumbs.html %}
          {% include tag_post.html %}
        </div>
      </article>

      <article>
        <div class="post-body-sidebar">
          {% include sidebar_head.html %}
        </div>
      </article>

      <article class="post">
        <div class="post-body">
          {% include doa_awal.html %}
        </div>
        <div class="markdown-body highlight">

          {% include enlarge-image-modal.html %}

          <p>{{ content }}</p>

          <!-- wip -->
          {% if page.wip == true %}
            <br>
            {% text_latin Sedang dalam proses penulisan... %}
          {% else %}
            <br>
          {% endif %}

          <!-- License -->
          {% if page.category == 'blog'
            or page.category == 'vlog' %}
            <div style="text-align:center; margin:0 0 10px 0;"></div>
            {% if page.license %}
              {% include license.html %}
            {% endif %}
          {% endif %}

          <div style="clear:both;"></div>

          <!-- Penulis -->
          {% if page.category == 'blog'
            or page.category == 'note'
            or page.category == 'vlog'
            or page.category == 'arch'
            or page.category == 'python' %}
            <div style="text-align:center; margin:0 0 10px 0;"></div>

            {% if page.contributors.size > 0 %}
              {% include kontributor.html %}
            {% endif %}

            {% if page.category != 'note' %}
              {% include penulis.html %}
            {% endif %}
          {% endif %}

          <div style="clear:both;"></div>

          {% comment %} {% include mail_subscriber.html %} {% endcomment %}

        </div><!-- markdown-body -->
      </article>

      <article class="sidebar">
        <div class="post-body-sidebar">
          {% include sidebar_tail.html %}
        </div>
      </article>

    </div><!-- container-edge-border -->
  </div><!-- main container -->
</section><!-- main -->
